/*******************************************************************************
 * 01. Common
 *
*******************************************************************************/ 
body { 
		background: url(../images/coffee/bg.png) no-repeat 50% 0 #312B27;
}

a,
.slogan h2 { 
	color: #503A28;
}

a:hover { 
	color: #312216;
}


/*******************************************************************************
 * 02. Header
 *
*******************************************************************************/ 
header nav ul li a,
header .site-name h2 a,
header .site-name p,
#topmedia .tooltip,
#topsearch input[type="text"],
.nivo-caption h6 a,
.nivo-controlNav a,
.kwicks li .heading-text h6 a,
.feature-services-widgets h4,
.feature-services-widgets h4 a,
.page-header,
.page-header a,
footer a { 
	color: #EDE3DC;
}

header nav ul li a .downarrowclass {
	background: url(../images/coffee/downarrow.png) no-repeat 0 0;
}

header nav ul li a .rightarrowclass {
	background: url(../images/coffee/rightarrow.png) no-repeat 0 0;
}

header nav ul li a:hover, 
header nav ul li a.selected,
header nav ul li a:hover span, 
header nav ul li a.selected span {
	background-image: url(../images/coffee/menubg.png);
	background-repeat: no-repeat;
}

header nav ul li a:hover, 
header nav ul li a.selected {
	background-position: 0 0;
}

header nav ul li a:hover span, 
header nav ul li a.selected span {
	background-position:100% 100%;
}

header nav ul li ul {
	background: #292421;
	border-right: 1px solid #25201E;
	border-bottom: 1px solid #25201E;
}

header nav ul li ul li ul {
	border-left: 1px solid #25201E;
}

header nav ul li ul li a:hover, 
header nav ul li ul li a.selected,
header nav ul li ul li a:hover span, 
header nav ul li ul li a.selected span {
	background: #181513;
}

#topmedia li a { background-image: url(../images/coffee/topmedia.png); }

#topsearch {
	background-image: url(../images/coffee/topsearch.png);
}


/*******************************************************************************
 * 03. Slogan
 *
*******************************************************************************/
.slogan-button .button-wrap a,
.slogan-button .button-wrap span,
#respond input[type="submit"],
.page-contact input[type="submit"],
.post-lists .button-wrap a {
	border-top: 1px solid #3F3C3A;
	border-right: 1px solid #322B27;
	border-bottom: 1px solid #292420;
	border-left: 1px solid #322B27;
	background-color: #342E28;
}


.slogan-button .button-wrap a:hover,
.slogan-button .button-wrap span:hover,
#respond input[type="submit"]:hover,
.page-contact input[type="submit"]:hover,
.post-lists .button-wrap a:hover {
	border-top: 1px solid #393635;
	border-right: 1px solid #231E1A;
	border-bottom: 1px solid #191513;
	border-left: 1px solid #231E1A;
	background-color: #1C1815;
}



.slogan-button .button-wrap a,
.slogan-button .button-wrap a:hover,
.slogan-button .button-wrap span,
#respond input[type="submit"],
#respond input[type="submit"]:hover,
.page-contact input[type="submit"],
.page-contact input[type="submit"]:hover {
	background-image: url(../images/coffee/middle-button.png);
}

.slogan-button .button-wrap a,
.slogan-button .button-wrap span,
#respond input[type="submit"],
.page-contact input[type="submit"] {
	background-position: 0 0;
}

.slogan-button .button-wrap a:hover,
.slogan-button .button-wrap span:hover,
#respond input[type="submit"]:hover,
.page-contact input[type="submit"]:hover {
	background-position: 0 -38px;
}



/*******************************************************************************
 * 04. Button Wrap
 *
*******************************************************************************/
.post-lists .button-wrap a, 
.post-lists .button-wrap a:hover {
	background-image: url(../images/coffee/small-button.png);
}

.post-lists .button-wrap a {
	background-position: 0 0;
}

.post-lists .button-wrap a:hover {
	background-position: 0 -24px;
}