body.deepblue { 
		background-color: #171E26;
}

body.coffee { 
		background-color: #27221E;
}

body.red { 
		background-color: #470D0D;
}

body.black { 
		background-color: #0B0B0B;
}

body.royalblue { 
		background-color: #32413F;
}