/*******************************************************************************
 * 01. Common
 *
*******************************************************************************/ 
body { 
		background: url(../images/royalblue/bg.png) no-repeat 50% 0 #3D4D4B;
}

a,
.slogan h2 { 
	color: #26413E;
}

a:hover { 
	color: #152826;
}


/*******************************************************************************
 * 02. Header
 *
*******************************************************************************/ 
header nav ul li a,
header .site-name h2 a,
header .site-name p,
#topmedia .tooltip,
#topsearch input[type="text"],
.nivo-caption h6 a,
.nivo-controlNav a,
.kwicks li .heading-text h6 a,
.feature-services-widgets h4,
.feature-services-widgets h4 a,
.page-header,
.page-header a,
footer a { 
	color: #CADFDE;
}

header nav ul li a .downarrowclass {
	background: url(../images/royalblue/downarrow.png) no-repeat 0 0;
}

header nav ul li a .rightarrowclass {
	background: url(../images/royalblue/rightarrow.png) no-repeat 0 0;
}

header nav ul li a:hover, 
header nav ul li a.selected,
header nav ul li a:hover span, 
header nav ul li a.selected span {
	background-image: url(../images/royalblue/menubg.png);
	background-repeat: no-repeat;
}

header nav ul li a:hover, 
header nav ul li a.selected {
	background-position: 0 0;
}

header nav ul li a:hover span, 
header nav ul li a.selected span {
	background-position:100% 100%;
}

header nav ul li ul {
	background: #313E3C;
	border-right: 1px solid #2C3836;
	border-bottom: 1px solid #2C3836;
}

header nav ul li ul li ul {
	border-left: 1px solid #2C3836;
}

header nav ul li ul li a:hover, 
header nav ul li ul li a.selected,
header nav ul li ul li a:hover span, 
header nav ul li ul li a.selected span {
	background: #293534;
}

#topmedia li a { background-image: url(../images/royalblue/topmedia.png); }

#topsearch {
	background-image: url(../images/royalblue/topsearch.png);
}

/*******************************************************************************
 * 03. Slogan
 *
*******************************************************************************/
.slogan-button .button-wrap a,
.slogan-button .button-wrap span,
#respond input[type="submit"],
.page-contact input[type="submit"],
.post-lists .button-wrap a {
	border-top: 1px solid #1F3033;
	border-right: 1px solid #243538;
	border-bottom: 1px solid #1F3033;
	border-left: 1px solid #243538;
	background-color: #435553;
}


.slogan-button .button-wrap a:hover,
.slogan-button .button-wrap span:hover,
#respond input[type="submit"]:hover,
.page-contact input[type="submit"]:hover,
.post-lists .button-wrap a:hover {
	border-top: 1px solid #1F292B;
	border-right: 1px solid #242E30;
	border-bottom: 1px solid #1F292B;
	border-left: 1px solid #242E30;
	background-color: #2F4346;
}



.slogan-button .button-wrap a,
.slogan-button .button-wrap a:hover,
.slogan-button .button-wrap span,
#respond input[type="submit"],
#respond input[type="submit"]:hover,
.page-contact input[type="submit"],
.page-contact input[type="submit"]:hover {
	background-image: url(../images/royalblue/middle-button.png);
}

.slogan-button .button-wrap a,
.slogan-button .button-wrap span,
#respond input[type="submit"],
.page-contact input[type="submit"] {
	background-position: 0 0;
}

.slogan-button .button-wrap a:hover,
.slogan-button .button-wrap span:hover,
#respond input[type="submit"]:hover,
.page-contact input[type="submit"]:hover {
	background-position: 0 -38px;
}



/*******************************************************************************
 * 04. Button Wrap
 *
*******************************************************************************/
.post-lists .button-wrap a, 
.post-lists .button-wrap a:hover {
	background-image: url(../images/royalblue/small-button.png);
}

.post-lists .button-wrap a {
	background-position: 0 0;
}

.post-lists .button-wrap a:hover {
	background-position: 0 -24px;
}